@use "sass:math";

@import "../variables.scss";
@import "../mixins.scss";

.footer {
    &__top {
        @include adaptiveValue("padding-top", 181, 97, 1);
        @include adaptiveValue("padding-left", 48, 10, 1);
    }

    &__main {
        display: flex;
        gap: rem(82.5);
        flex-wrap: wrap;
    }

    &__company-desc {
        flex: 0 1 rem(207);
    }

    &__logo {
        font-family: 'Poppins-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: clamp(rem(30), 4vw, rem(44));
        color: #181E4B;
        padding-bottom: rem(39);
    }

    &__company-description {
        font: 500 normal rem(13)/math.div(16, 13) "Poppins-Medium";
    }

    &__row {
        display: flex;
        gap: rem(81.5);
        flex: 1 1 rem(474);
        flex-wrap: wrap;
    }

    &__label {
        font: 700 normal rem(21)/math.div(26, 21) "Poppins-Bold";
        font-size: clamp(rem(17), 2vw, rem(21));
        color: #080809;
        padding-bottom: rem(34);
    }

    &__btm {
        @include adaptiveValue("padding-top", 84, 64, 1);
        @include adaptiveValue("padding-bottom", 79, 60, 1);
    }

    &__copyrights {
        font: 500 normal rem(14)/math.div(17, 14) "Poppins-Medium";
        text-align: center;
    }
}

.menu-footer {
    font: 500 normal rem(18)/math.div(36, 18) "Poppins-Medium";
    font-size: clamp(rem(16), 2vw, rem(18));

    &__link {
        color: $primaryText;

        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.social {
    display: flex;
    flex-direction: column;
    gap: rem(21);
    flex: 1 1 rem(214);

    &__top {
        display: flex;
        gap: rem(25);
    }

    &__media-btn {
        justify-content: center;
        align-items: center;
        display: inline-flex;
        width: rem(41);
        height: rem(41);
        background: #FFFFFF;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        color: #080809;
        border-radius: 100%;

        @media (any-hover: hover) {
            &:hover {
                background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
                color: #fff;
            }
        }
    }

    &__text {
        font: 500 normal rem(20)/math.div(25, 20) "Poppins-Medium";
        font-size: clamp(rem(17), 2vw, rem(20));
        letter-spacing: em(0.005);
    }

    &__btm {
        display: flex;
        gap: rem(7);
    }

    &__market-btn {
        display: block;
        width: rem(107);
        height: rem(35);
        background: #080809;
        border-radius: rem(17.5);
    }
}