@use "sass:math";

@import "../variables.scss";
@import "../mixins.scss";

//---------------------------------HERO SECTION---------------------------------------------------------------//

.hero-section {

    &__container {
        display: flex;
        background: url("../../img/hero.png") 105% 2% no-repeat;
        height: rem(764);

        @media (max-width: $tablet) {
            background-image: none;
            height: rem(588);
        }
    }

    &__description {
        flex: 0 1 auto;
        padding: rem(87) 0 0 0;
        position: absolute;
    }
}

.description {
    display: flex;
    flex-direction: column;
    gap: rem(30);

    &__heading {
        font: 700 normal rem(84)/math.div(89, 84) "Volkhov-Bold";
        font-size: min(84px, max(35px + 3vw));
        letter-spacing: em(-0.04);
        color: #181E4B;

        strong:last-of-type {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 72%;
                left: -17%;
                right: 0;
                height: rem(12);
                @include adaptiveValue("width", 385, 160, 0);
                z-index: -1;
                background: url('../../img/highlightedTextDecore.svg') no-repeat;
                // background-size: clamp(200px, 100%, 385px);
                @include adaptiveValue("background-size", 385, 200, 1);
            }
        }
    }

    &__subheading {
        text-transform: uppercase;
        color: $salmonOrange;
        vertical-align: super;
        font: 700 normal rem(20)/math.div(30, 20) "Poppins-Bold";
        font-size: 26%;
    }

    &__text {
        font: 500 normal rem(16)/math.div(30, 16) "Poppins-Medium";
        max-width: rem(477);
    }
}

.actions {
    display: flex;
    gap: 5.6%;
    flex-wrap: wrap;

    &__find-out {
        width: rem(170);
        height: rem(60);
        background-color: $primaryBtn;
        border-radius: rem(10);
        font: 500 normal rem(18)/math.div(23, 18) "OpenSans-Medium";
        font-size: clamp(17px, 2vw, 18px);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s ease;

        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
                background: transparent;
                border: 2px solid $primaryBtn;
                color: $primaryBtn;
            }
        }

        @media (max-width: $tablet) {
            width: 96%;
            margin-bottom: rem(33);
        }

        &:active {
            transform: scale(0.9);
        }
    }

    &__play {
        width: clamp(rem(43), 8vw, rem(52));
        height: clamp(rem(43), 8vw, rem(52));
        background-color: $salmonOrange;
        border-radius: 50%;
        transition: all .5s ease;
        display: inline-flex;

        @media (any-hover: hover) {
            &:hover {
                box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
                background: transparent;
                border: 2px solid $salmonOrange;
                color: $salmonOrange;

                &::after {
                    border-color: transparent transparent transparent $salmonOrange;
                }
            }
        }

        &:active {
            transform: scale(0.9);
        }

        &::after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7.5px 0 7.5px 15px;
            border-color: transparent transparent transparent #fff;
            margin: auto auto;
            transition: ease-out 0.5s;
        }
    }

    &__text {
        font: 500 normal rem(17)/math.div(26, 17) "Poppins-Medium";
        font-size: clamp(16px, 2vw, 17px);
        color: #686D77;
        margin: auto 0;
    }
}

//---------------------------------MAIN HEADINGS---------------------------------------------------------------//

.heading {
    font: 700 normal rem(50)/math.div(64, 50) "Volkhov-Bold";
    font-size: clamp(rem(26), 8vw, rem(50));
    text-transform: capitalize;
    color: $headingPrime;

    small {
        font: 600 normal rem(18)/math.div(27, 18) "Poppins-SemiBold";
        font-size: clamp(15px, 2vw, 18px);
        color: $primaryText;
    }
}

//---------------------------------SERVICES SECTION---------------------------------------------------------------//

.services {
    display: flex;

    &__container {
        @include adaptiveValue("padding-top", 97, 150, 0);
    }

    &__heading {
        text-align: center;
    }
}

.list {
    display: flex;
    padding-top: rem(66.33);
    flex-wrap: wrap;
    gap: clamp(rem(25), 8vw, rem(128));
    align-items: flex-start;

    svg {
        @include adaptiveValue("width", 100, 55, 0);
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 1;
        width: rem(191);
        transition: all .2s ease-in-out;
        cursor: pointer;
        text-align: center;

        @media (max-width: $mobile) {
            text-align: left;
            align-items: flex-start;
        }

        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.3);
                background: #fff;
                box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
                border-radius: 36px;
            }
        }
    }

    &__title {
        font: 600 normal rem(20)/math.div(27, 20) "OpenSans-SemiBold";
        font-size: clamp(17px, 2vw, 20px);
        color: #1E1D4C;
        padding: rem(29) 0 rem(15) 0;
    }

    &__text {
        font: 500 normal rem(16)/math.div(26, 16) "Poppins-Medium";
    }
}

//---------------------------------DESTINATIONS SECTION---------------------------------------------------------------//

.destinations {
    background: 94% 86%/7% no-repeat;

    &__heading {
        text-align: center;
        @include adaptiveValue("padding-top", 123, 97, 1);
        @include adaptiveValue("padding-bottom", 60, 0, 1);
    }

    &__content {
        overflow-x: auto;
        display: flex;
        min-width: 100%;
        min-height: rem(537);
        gap: clamp(15px, 4vw, 47.5px);
        align-items: center;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    min-width: clamp(250px, 50%, 314px);
    @include adaptiveValue("height", 457, 385, 1);
    background: center top/150% auto no-repeat;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    border-radius: rem(24);
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;

    @media (any-hover: hover) {
        &:hover {
            transform: translateY(-10px);
        }
    }

    &__tumb {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
    }

    &__details {
        background: #FFFFFF;
        border-radius: 0px 0px 24px 24px;
        height: rem(130);
        position: absolute;
        right: -1px;
        left: -1px;
        bottom: -3px;
    }

    &__details-head {
        display: flex;
        justify-content: space-around;
        height: 50%;
        align-items: center;
    }

    &__title,
    &__price {
        font: 500 normal rem(18)/math.div(22, 18) "Poppins-Medium";
    }

    &__text {
        font: 500 normal rem(16)/math.div(20, 16) "Poppins-Medium";
        display: flex;
        gap: rem(13.33);
        position: relative;
        left: 13%;

        span {
            color: #080809;
        }
    }
}

//---------------------------------TRIP SECTION---------------------------------------------------------------//

.trip-section {

    &__container {
        @include adaptiveValue("padding-top", 116, 97, 1);
        display: flex;
    }

    &__heading {
        white-space: nowrap;
    }

    &__left-block {
        gap: rem(31);
        display: flex;
        flex: 1 1 prc(395, $containerWidth);
        flex-direction: column;
        @include adaptiveValue("padding-left", 48, 0, 1);
        @include adaptiveValue("padding-right", 131, 0, 1);
    }

    &__right-block {
        justify-content: space-around;
        display: flex;
        align-items: center;
        flex: 1 1 prc(370, $containerWidth);

        @media (max-width: 1045px) {
            display: none;
        }
    }

    &__steps-block {
        flex-direction: column;
        display: flex;
        @include adaptiveValue("gap", 48, 20, 1);
    }
}

.step-box {
    display: flex;
    gap: clamp(10px, 2vw, 21px);

    &__step-icon {
        margin-top: rem(4);
    }

    &__title {
        font: 700 normal rem(16)/math.div(20, 16) "Poppins-Bold";
        font-size: clamp(15px, 2vw, 16px);
    }

    &__text {
        font: 400 normal rem(16)/math.div(20, 16) "Poppins-Regular";
    }
}

.step-icon {
    @include adaptiveValue("width", 47, 40, 1);
    @include adaptiveValue("height", 48, 40, 1);
    background: #F0BB1F;
    border-radius: rem(13);
    display: inline-flex;
    color: #FFFFFF;
    font-size: clamp(16px, 2vw, 22px);
    flex-shrink: 0;

    span {
        margin: auto;
    }

    &--orange {
        background: #F15A2B;
    }

    &--azure-blue {
        background: #006380;
    }
}

.trip-card {
    width: rem(370);
    height: rem(400);
    display: flex;
    flex-direction: column;
    gap: rem(22.25);
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 50px -67px 183px -76px #59B1E6, 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: rem(26);
    justify-content: center;
    align-items: center;
    color: #84829A;

    &__title {
        width: prc(321, 370);
        font: 500 normal rem(18)/math.div(22, 18) "Poppins-Medium";
        letter-spacing: 0.015em;
        color: #080809;
    }

    &__text {
        width: prc(321, 370);
        font: 500 normal rem(16)/math.div(20, 16) "Poppins-Medium";
        letter-spacing: -0.005em;
    }

    &__details {
        display: flex;
        width: prc(321, 370);
        justify-content: space-between;
        font: 500 normal rem(16)/math.div(20, 16) "Poppins-Medium";
        letter-spacing: -0.02em;

        p {
            display: flex;
            gap: rem(15);
        }

        span:nth-child(2) {
            color: #4152CA;
            font-size: rem(18);
        }
    }
}

.options {
    width: prc(321, 370);
    display: flex;
    gap: rem(15.5);

    &__icon {
        background: #F5F5F5;
        width: rem(36);
        height: rem(36);
        border-radius: 100%;
        display: flex;

        @media (any-hover: hover) {
            &:hover {
                background: transparent;
                border: solid 3px #F5F5F5;
            }
        }

        span {
            margin: auto;
        }

    }
}

//---------------------------------REVIEW SECTION---------------------------------------------------------------//

.review-section {

    &__container {
        display: flex;
        flex-wrap: wrap;
        @include adaptiveValue("padding-top", 200, 97, 1);
        @include adaptiveValue("gap", 0, 40, 1);
    }

    &__left-block {
        @include adaptiveValue("padding-left", 48, 0, 1);
        @include adaptiveValue("padding-right", 131, 0, 1);
        flex: 0 1 45%;
    }

    &__heading {
        white-space: nowrap;
    }

    &__right-block {
        flex: 1 1 49%;
        @include adaptiveValue("padding-left", 48, 0, 1);
    }

    &__review-card {
        margin: 7% 0 0 rem(15)
    }
}

.review-card {
    flex: 1 1 rem(504);
    min-height: rem(245);
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: rem(10);
    cursor: pointer;

    &__avatar {
        @include adaptiveValue("width", 68, 45, 1);
        @include adaptiveValue("height", 68, 45, 1);
        background: green;
        border-radius: 100%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(13px, 2vw, 18px);
        transform: translate(-25%, -50%);
        font-weight: 600;
    }

    &__text {
        font: 500 normal rem(16)/math.div(32, 16) "Poppins-Medium";
        margin: rem(-28) rem(28) rem(34);
        width: prc(402, 504);
    }

    &__btm-block {
        margin-left: rem(34);
    }

    &__reviewer {
        font: 600 normal rem(18)/math.div(27, 18) "Poppins-SemiBold";
        font-size: clamp(16px, 2vw, 18px);
    }

    &__reviewer-location {
        font: 500 normal rem(14)/math.div(21, 14) "Poppins-Medium";
    }
}

//---------------------------------PARTNER SECTION---------------------------------------------------------------//

.partners-section {

    &__container {
        @include adaptiveValue("padding-top", 97, 20, 1);
    }

    &__content {
        @include adaptiveValue("margin-left", 48, 15, 1);
        @include adaptiveValue("margin-right", 48, 15, 1);
        height: rem(162);
        position: relative;
        overflow: hidden;
        max-width: rem(1073);
    }

    &__slider {
        top: 0;
        bottom: 0;
        margin: auto;
        height: rem(86);
    }
}

@keyframes loop {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-50%, 0);
    }
}

.slider {
    display: flex;
    position: absolute;
    @include adaptiveValue("gap", 99, 10, 1);
    left: 0;
    animation: loop 15s ease-out infinite;

    &__logo {
        width: rem(241);
        height: rem(86);

        img {
            display: block;
            object-fit: scale-down;
            min-width: 150%;
            max-width: 150%;
            min-height: 150%;
            max-height: 150%;
        }
    }
}

//---------------------------------SUBSCRIBE SECTION---------------------------------------------------------------//

.subscribe-section {

    &__container {
        min-height: rem(407);
        background: rgba(223, 215, 249, 0.2) url("../../img/subscribe_right-decore.svg") bottom left no-repeat, rgba(223, 215, 249, 0.2) url("../../img/subscribe_left-decore.svg") top right no-repeat;
        @include adaptiveValue("margin-top", 124, 20, 1);
        @include adaptiveValue("border-top-left-radius", 129, 0, 1);
        @include adaptiveValue("border-top-right-radius", 20, 0, 1);
        @include adaptiveValue("border-bottom-left-radius", 20, 0, 1);
        @include adaptiveValue("border-bottom-right-radius", 20, 0, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        max-width: rem(859);
        @include adaptiveValue("gap", 74, 30, 1);
        display: flex;
        flex-direction: column;
    }

    &__heading {
        font: 600 normal rem(33)/math.div(54, 33) "Poppins-SemiBold";
        font-size: clamp(rem(22), 4vw, rem(33));
        text-align: center;
    }
}

.form {

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: rem(24);
        max-width: rem(625);
        margin: 0 auto;
    }

    &__input {
        text-indent: prc(66, 421);
        flex: 1 1 rem(421);
        border: none;
        height: rem(68);
        border-radius: rem(10);
        font: 400 normal rem(14)/math.div(17, 14) "Montserrat-Regular";
        color: #39425D;
        background: #FFFFFF url("../../img/icons/mail.svg") prc(31, 421) center no-repeat;

        &:focus {
            outline: none !important;
            border: 1px solid $primaryText;
        }
    }

    &__btn {
        flex: 1 1 rem(180);
        height: rem(68);
        background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
        border-radius: rem(10);
        font: 600 normal rem(17)/math.div(23, 17) "OpenSans-SemiBold";
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        transition: all .5s ease;

        @media (any-hover: hover) {
            &:hover {
                opacity: 0.75;
            }
        }

        &:active {
            transform: scale(0.9);
        }
    }
}
